{% load static %}

{% include './parts/Nav.html'%}
<div class="intro">
    <h1>Welecome in Kenitra City when You can pass the nicest day ever</h1>
    
    
    </div>
    
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% block content %}
{% endblock content %}
{% block about %}
{% endblock about %}
{% block hotel %}


{% endblock hotel %}
{% block agenda %}
{% endblock agenda %}
{% block hotelview %}

{% endblock hotelview %}
{% block r %}

{% endblock r %}
{% include './parts/footer.html' %}
