<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% load static %}
<link rel="stylesheet" href="{% static 'css/nav.css' %}">
</head>
<body>

<div class="topnav" id="myTopnav">
  <a href="#home" class="active"><img src="{% static 'image/logo.png' %}" class="logo" alt="Logo"></a>
  <a href="{% url 'index' %}">Home</a>
  <a href="{% url 'agenda' %}">Agenda</a>
  <div class="dropdown">
    <button class="dropbtn">Services
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="{% url 'hotel' %}">Hotels</a>
      <a href="{% url 'resturnat' %}">Restaurant</a>
      <a href="{% url 'places' %}">Tourist Places</a>
    </div>
  </div>
  <a href="{% url 'about' %}">About</a>
  <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
</div>

<script>
function myFunction() {
  var x = document.getElementById("myTopnav");
  if (x.className === "topnav") {
    x.className += " responsive";
  } else {
    x.className = "topnav";
  }
}
</script>

</body>
</html>
