body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.topnav {
  overflow: hidden;
  background: linear-gradient(#f1ecec 0 0) bottom/100% calc(100% - var(--_i,1)*100%) no-repeat;
  --_i: 0;
}

.logo {
  width: 100px;
  height: auto;
  display: block;
}

.intro {
  background-color: transparent;
  display: flex;
  text-align: center;
  justify-content: center;
  font-size: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.intro {
  --h: 1.2em;
  color: #0000;
  text-shadow: 0 var(--_i,var(--h)) #fff, 0 0 rgb(0 0 0 / var(--_i,1));
  background: linear-gradient(#1095c1 0 0) bottom/100% calc(100% - var(--_i,1)*100%) no-repeat;
  overflow: hidden;
  transition: 0.3s;
  --_i: 0;
}

.intro:hover {
  cursor: pointer;
  color: antiquewhite;
}

.topnav a {
  float: left;
  display: block;
  color: #000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 19px;
}

.topnav .icon {
  display: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 20px;
  border: none;
  outline: none;
  color: rgb(69, 8, 8);
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.topnav a:hover, .dropdown:hover .dropbtn {
  background-color: #555;
  color: white;
}

.dropdown-content a:hover {
  background-color: #ddd;
  color: black;
}

.dropdown:hover .dropdown-content {
  display: block;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child), .dropdown .dropbtn {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive .dropdown {
    float: none;
  }
  .topnav.responsive .dropdown-content {
    position: relative;
  }
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
}
